table, td {
    border: 1px solid black;
}

td {
    width: 150px;
    height: 150px;
    text-align: center;
}

table {
    border-collapse: collapse;
}
.ball {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
}

#game {
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 3%;
}
.container {
    text-align: center;
}